
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
				Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
	margin: 0;
}

/* Variables */
:root {
  /* Colores principales */
  --color-primary: #0A1128;
  --color-primary-dark: #0056b3;
  
  /* Colores de texto */
  --color-text-primary: #ebd9e2;
  --color-text-secondary: #ffdbdb;

  /* Colores de fondo */
  --color-background: #ffe3e3;

  /* Estados */
  --color-error: #dc3545;

  /* Efectos */
  --shadow-md: 0 4px 6px rgba(0,0,0,0.1);
}

/* Globales */
#root {
  min-height: 100vh;
  background-color: #f7f7f7;
  margin: 0 auto;
  max-width: 1280px;
  font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* Layout */

/* Utilidades */
.text-center { text-align: center; }
.text-small { font-size: .75rem; }
.text-bold { font-weight: 700; }
.d-flex { display: flex; }
.align-center { align-items: center; }
.justify-between { justify-content: space-between; }

/* -Commons- */
button {
  border-radius: .25rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
}
.button--danger {
  padding: 0 .25rem;
  background-color: var(--color-error);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a {
  color: var(--color-text-primary);
  text-decoration: inherit;
}
a:hover { 
  color: var(--color-text-secondary); 
}

/* Componentes */

/* -NavBar- */
.navbar {
  height: 4rem;
  align-content: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}
.logo {
  color: var(--color-text-secondary);
  padding: 0 1rem;
  align-content: center;
  font-size: 1.5rem;
}
.navbar_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_menu_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar_menu_link {
  cursor: pointer;
}
.navbar_menu_link.history {
  padding: 0 1rem;
}
.underline {
  background-color: #ec9696;
  width: 1rem;
  height: .25rem;
}
/* -END- */

/* -InputValue- */
.add-number {
  margin: 2rem .5rem auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-button-wrapper {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
}

.add-number_input {
  width: 100%;
  padding: 1rem;
  padding-right: 4.5rem;
  margin-right: 0;
  font-size: large;
  border-radius: 2rem;
  border: 1px solid var(--color-primary-dark);
  appearance: textfield !important;
  -webkit-appearance: textfield !important;
  -moz-appearance:textfield !important;
  box-sizing: border-box;
}

.input-inside-btn {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 0;
  z-index: 2;
  font-size: 1rem;
}
/* -END- */

/* -EmptyState- */
.empty-state { color: #0A1128; }
/* -END- */

/* -Tables- */
.table {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  border-radius: 1rem;
  color: var(--main-bg-color);
  width: 100%;
  box-shadow: var(--shadow-md);
}
.table_header, .table_footer { background-color: var(--color-background)!important;}
.table_header { border-radius: 1rem 1rem 0 0;}
.table_header .table_cell { font-weight: bold;}
.table_row {
  background-color: white;
  display: flex;
  width: 100%;
}
.table_cell {
  align-content: center;
  flex: 1;
  padding: 1rem;
}
.table_footer { border-radius: 0 0 1rem 1rem;}
.table_footer .colspan {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--color-background);
  flex: 3;
}
.table_cell:first-child .table_cell:not(.text-center) { text-align: start; }
.table_cell:not(:first-child) { text-align: end; }
/* -END- */

/* -Accordion- */
.accordion {
  border: 1px solid #cccccc;
  margin: 1rem;
}
.accordion_header {
  justify-content: space-between;
  background-color: white;
  color: var(--main-bg-color);
  cursor: pointer;
  padding: 1rem;
}
.accordion_content { 
  padding: 1rem;
  overflow: hidden;
}
.accordion_content .table .table_row:last-of-type {
  border-radius: 0 0 1rem 1rem;
}
.line-chart-container {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}
/* -END- */

/* -Loader- */
.loader {
  position: absolute;
  width: 50px;
  right: calc(50% - 25px);
  top: calc(50% - 25px);
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(var(--color-primary) 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  20% {background-size: 20% 60% ,20% 100%,20% 100%}
  40% {background-size: 20% 80% ,20% 60% ,20% 100%}
  60% {background-size: 20% 100%,20% 80% ,20% 60% }
  80% {background-size: 20% 100%,20% 100%,20% 80% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}
/* -END- */

.error-404 {
  font-size: 8rem;
  color: var(--color-text-primary);
}