body {
    background-color: #293241;
    font-family: "Honk", system-ui;
}

#puzzle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    width: fit-content;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, .1);
    border: solid 4px orange;
}

.popup { 
    text-align: center;
    color: orange;
    font-size: x-large;
}

.puzzles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3px;
    padding-bottom: 40px;
}

.puzzles div {
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 20px;
    transition: box-shadow 500ms ease;
}

.puzzles p {
    margin: 20px 30px;
    text-align: left;
    width: 100%;
}

.puzzles div:hover {
    box-shadow: 0 0 0 3px orange;
}

.opcion1 {
    background: url(../assets/imagenes/house-7512994_640.png);
}

.opcion2 {
    background: url(../assets/imagenes/octopus-7503729_640.png);
}

.opcion3 {
    background: url(../assets/imagenes/woman-6926428_640.jpg);
}

.opcion4 {
    background: url(../assets/imagenes/pirate-8279653_640.jpg);
}


#audio{
    display: none
}

.atribuciones {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 15px;
    margin: 40px;
    background-color: rgba(255, 255, 255, .1);
    padding: 20px;
}

h3 {
    font-size: xx-large;
    margin: 30px;
}

.hidden { display: none !important; }

.disabled { filter: brightness(0.4); }


#win {
    /*Centrar el texto*/
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*--------------------*/
    color: #02c39a;
    font-size: 80px;    
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: rgba(94, 103, 107, 0.6);
    right: calc(50% - 300px);
    top: 120px;
}

#info {
    position: absolute;
    width: 200px;
    right: calc(50% - 100px);
    top: 750px;
}

.btnInicio, .btnPausar {
    text-align: center;
    font-size: 40px;
}

.btnInicio:hover, .btnPausar:hover{
    text-shadow: 2px 2px #5e676b;
}

a {
    text-decoration: none;
    color: #02c39a;
    font-weight: bold;
}

.cronometro {
    position: absolute;
    width: 250px;
    text-align: center;
    top: calc(0% + 40px);
    right: calc(50% - 125px);
    color: #028090;
    font-size: 60px;
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0px;
    width: 600px;
    height: 600px;
}

td {
    background-image: url(../assets/imagenes/house-7512994_640.png);
    box-shadow: 5px 5px 5px 5px rgba(94, 103, 107, 0.8);
}

.hueco {
    visibility: hidden;
}

#pausar {
    width: 600px;
    height: 600px;
    position: absolute;
    right: calc(50% - 300px);
    top: 120px;
    display: none;
    background-color: rgba(94, 103, 107, 0.2);
}

